@page "/"

<h1>Seja bem vindo!</h1>

<form>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control" placeholder="Faça uma pergunta..." name="pergunta" id="pergunta">
        </div>
        <div class="col-auto">
                <button type="submit" class="btn btn-primary" onclick="event.preventDefault(); Perguntar();">Perguntar</button>
        </div>
    </div>
</form>

<p class="resposta" style="margin-top: 30px; color: blue"></p>
